{%load static%}
<header class="type-4 hovered color-10">
    <div class="container">
          <div class="row">
               <div class="col-md-12">
                 <div class="nav"> 
                    <nav class="menu" id="logo">
                        <ul>
                            <li class="type-1 active">
                                <a href="/"><img src="{%static 'img/home_10/logo.png' %}"/></a>
                            </li>
                        </ul>
                    </nav>
                    <nav class="menu" id="nav-menu">
                        <ul>
                            <li class="type-1 active">
                                <a href="/">home</a>
                            </li>
                            <li class="type-1"><a>Categories<span class="fa fa-angle-down"></span></a>
                                <ul class="dropmenu">
                                    <li><a href="/categorie/1">Nationals tours</a></li>
                                    <li><a href="/categorie/2">Internationals tours</a></li>
                                    <li><a href="/categorie/3">honeymoon</a></li>
                                </ul>
                            </li>
                            <li class="type-1">
                                <a href="/operators">Operators</a>
                            </li>
                            {% if request.user.is_authenticated %}
                            <li class="type-1"><a>{{request.user.username}}<span class="fa fa-angle-down"></span></a>
                                <ul class="dropmenu">
                                    <li><a href="/profile">Profile</a></li>
                                    <li><a href="/logout">Logout</a></li>
                                </ul>
                            </li>
                            {% else %}
                            <li class="type-1">
                                <a href="/login">Login</a>
                            </li>
                            <li class="type-1">
                                <a href="/register">Register</a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                 </div>
               </div>
          </div>
    </div>
   </header>