<header class="type-4 hovered color-10">
    <div class="container">
          <div class="row">
               <div class="col-md-12">
                 <div class="nav"> 
                    <nav class="menu" id="logo">
                        <ul>
                            <li class="type-1 active">
                                <a href="/">Voyage Ino2</a>
                            </li>
                        </ul>
                    </nav>
                    <nav class="menu">
                        <ul>
                            <li class="type-1 active">
                                <a href="/">home</a>
                            </li>
                            <li class="type-1"><a>Categories<span class="fa fa-angle-down"></span></a>
                                <ul class="dropmenu">
                                    <li><a href="/categorie/1">Voyages Nationals</a></li>
                                    <li><a href="/categorie/2">Voyages Internationals</a></li>
                                    <li><a href="/categorie/3">Voyages de Noces</a></li>
                                </ul>
                            </li>
                            <li class="type-1">
                                <a href="/operator">Operators</a>
                            </li>
                        </ul>
                    </nav>
                 </div>
               </div>
          </div>
    </div>
   </header>