{% extends "template.html" %}
{% block inner_page %}

<img class="center-image" src="static/img/home_10/hero.jpg" alt="">
<div class="container">
	<div class="login-fullpage">                                                                            
		<div class="login">
			<div class="col-xs-12 col-sm-8 login-box">
				<div class="f-login-content">
					<div class="f-login-header">
						<div class="f-login-title color-dr-blue-2">Change your password</div>
					</div>
					<form class="f-login-form" action="password_change_process" method="POST">
						{% csrf_token %}
						<div class="input-style-1 b-50 type-2 color-5">
							<input type="text" placeholder="Enter your old password" name="old_password" required>
						</div>
						<div class="input-style-1 b-50 type-2 color-5">
							<input type="password" placeholder="Enter your new password" name="new_password" required>
						</div>
						<input type="submit" class="login-btn c-button full b-60 bg-dr-blue-2 hv-dr-blue-2-o" value="CHANGE YOUR PASSWORD">
					</form>
				</div>				
			</div>
		</div>
	</div>
</div>                                                                                                                                                                                          
{% endblock %}

{%block scripts%}
<script>
$("header").attr("id","black-header");
</script>
{%endblock%}