<div class="col-xs-12 col-sm-4 col-md-3">
    <div class="sidebar bg-white clearfix">
        <form action="/search" method="GET">
          {%csrf_token%}
      <div class="sidebar-block">
          <h4 class="sidebar-title color-dark-2">search</h4>
          <div class="search-inputs">
              <div class="form-block clearfix">
                  <div class="input-style-1 b-50 color-3">
                      <img src="{%static 'img/loc_icon_small_grey.png' %}" alt="">
                      <input list="cities" placeholder="Where do you want to go?" name="destination" value="" autocomplete="off">
                      <datalist id="cities">
                          {%for city in cities%}
                          <option value="{{city}}"></option>
                          {%endfor%}
                          
                      </datalist>
                  </div>
              </div>							
              <div class="form-block clearfix">
                  <div class="input-style-1 b-50 color-3">
                      <img src="{%static 'img/calendar_icon_grey.png' %}" alt="">
                      <input type="text" placeholder="Check In" value="{{from_date}}" min ="{{from_date}}" class="datepicker from_date" name="from_date">
                  </div>					
              </div>
              <div class="form-block clearfix">
                  <div class="input-style-1 b-50 color-3">
                      <img src="{%static 'img/calendar_icon_grey.png' %}" alt="">
                      <input type="text" placeholder="Check Out" value="{{to_date}}" min="{{from_date}}" class="datepicker to_date" name="to_date" >
                  </div>					
              </div>
          </div>
          <!-- <input type="submit" class="c-button b-40 bg-dr-blue-2 hv-dr-blue-2-o" value="search">				 -->
      </div>
      <div class="sidebar-block">
       <h4 class="sidebar-title color-dark-2">categories</h4>
       <div class="sidebar-rating">
          {%for cat in categories%}
          <div class="input-entry color-5">
              {%if cat.id in checked %}
              <input class="checkbox-form" id="ref-{{cat.id}}" type="checkbox" name="checkbox" value="{{cat.id}}" checked>
              {%else%}
              <input class="checkbox-form" id="ref-{{cat.id}}" type="checkbox" name="checkbox" value="{{cat.id}}">
              {%endif%}
              <label class="clearfix" for="ref-{{cat.id}}" >
                  <span class="sp-check"><i class="fa fa-check"></i></span>
                  <span class="checkbox-text">{{cat.name}}</span>
              </label>
          </div>
          {%endfor%}
          <input type="hidden" name="categories" value="{{categorie.id}}" id="categories">																
       </div>											
   </div>	
      <div class="sidebar-block">
          <h4 class="sidebar-title color-dark-2">price range</h4>
          <div class="slider-range color-3 clearfix" data-counter="$" data-position="start" data-from="{{min_price_value}}" data-to="{{max_price_value}}" data-min="{{min_price}}" data-max="{{max_price}}">
              <div class="range"></div>
              <input type="text" name="min_price" class="amount-start" readonly value="{{min_price_value}}">
              <input type="text" name="max_price" class="amount-end" readonly value="{{max_price_value}}">						
          </div>
      </div>
      <div class="sidebar-block">
          <h4 class="sidebar-title color-dark-2">Duration </h4>
          <div class="slider-range color-3 clearfix" data-counter=" NIGHT" data-position="end" data-from="{{min_duration_value}}" data-to="{{max_duration_value}}" data-min="{{min_duration}}" data-max="{{max_duration}}">
              <div class="range"></div>
              <input type="text" name="min_duration" class="amount-start" readonly value="0 NIGHT">
              <input type="text" name="max_duration" class="amount-end" readonly value="7 NIGHT">						
          </div>
          <input type="submit" class="c-button b-40 bg-dr-blue-2 hv-dr-blue-2-o" value="search">				
      </div>
  </form>          
    </div>
</div>